*{margin:0;
border: 0;
padding: 0;
font-family: "Kanchenjunga";
}


/*---------------------- CLASES DE TIPOGRAFÍAS -------------------------------------*/
.kanchenjunga-regular {
    font-family: "Kanchenjunga", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .kanchenjunga-medium {
    font-family: "Kanchenjunga", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .kanchenjunga-semibold {
    font-family: "Kanchenjunga", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .kanchenjunga-bold {
    font-family: "Kanchenjunga", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  


header h1{
    font-family:'Kanchenjunga';
    color:#320000;
    position: relative;
    font-size: 8em;
    float: left;
    left: 3em;
    z-index: 1000;
    top: 1.5em;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Degradado de colores */    
    border-radius: 20px;
    padding: 5px;
}
.he{
    width: 100%;
    height: 450px;
}

/* ------------------ IMAGEN DE FONDO DEL HEADER ------------------*/
.imagenfondo img{
    width: 100%; /* largo imagen */
    height: 40em; /* ancho imagen*/
    top: -14em;
    position: relative; 
}
/* ---------------- LOGO PIZZA DELIVERY DEL HEADER ---------------*/
.logoheader img{
    position: relative;
    width: 20%;
    height: auto;    
    float: right;
    left: 6em;
    bottom: 40em;
}
/* ---------------- CONTACTO CELULAR EN EL LOGO DE PIZZA --------*/
.contacto h2{   
    position: relative; 

    color: #E7C84C;   
    bottom: 12em;
    font-size: 2em;
    float: right;
    right: 6em;
    font-family:'Kanchenjunga' ;
    transform: rotate(-10deg); /* Gira el texto 45 grados */
}
/* ---------------- PUBLICIDAD LATERAL DERECHA EN EL BODY --------*/
.publicidad{
    width: 15%;
    height: auto;
    float: right;   
    position: relative;    
    left:30em;
    bottom: 10em;
}

.publi{
    float: right;    
    width: 100%; 
    height: 800px;
    bottom: 30em;
}
/* ----------------------- GALERIA DEL BODY ----------------------*/
.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 60px;
    position: relative;
    top: 10em;
    left: 80px;    
}
/* --------------- IMAGEN LA GALERIA ----------------  */
.galeria img{  
    top: 5em;
    display: flex; 
    position:relative;      
    width: 110%;
    height:60%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    left: 6em;
}
/* --------------- TEXTO DE LA FOTO -----------------   */
.galeria h4{
    position: relative;
    top: 4em;
    color: #E7C84C;    
    font-family:'Kanchenjunga'; 
    font-size: 15px;  
    text-align: center;  
    left: 7em;  
}
/* --------------- PRECIO DE LOS PRODUCTOS -------------*/
.galeria p{
    position: relative;        
    top: 4em;
    color: #E7C84C;
    font-weight: 700;
    text-align: center;
    left: 7em;
}
/* --------------- BOTÓN DE COMPRA ---------------------*/
.compra{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));   
    top: 2em;    
    border: none;  
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    left: 7em;  
    transition: background-color 0.3s ease; /* Transición suave */
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
button:hover{
    background-color: #45a049; /* Nuevo color del botón */
}

body{
    background: linear-gradient(to bottom right,#c57d56,#320000);
}